@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColor: #333;
  --textPrimary: #fff;
  --textSecondary: #666;
  --primaryColor: #fd4;
  --correct: #fff;
  --incorrect: #f44;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bgColor);
  color: var(--textPrimary);
  font-size: 1.4rem;
  /* user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;  */
}

/* .blinking-cursor {
  display: inline-block;
  width: 2px;
  height: 1.4rem;
  background: var(--primaryColor);

  animation: blink 0.8s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.blinking-cursor {
  position: absolute;
  width: 0;
  margin-top: 7px;
  height: 1.4rem;
  border-left: 2px solid var(--primaryColor); /* Customize the cursor style */
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
