@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColor: #323437;
  --textPrimary: #d1d0c5;
  --textSecondary: #646669;
  --primaryColor: #e2b714;
  --correct: #d1d0c5;
  --incorrect: #ca4754;
  --incorrect-extra: #7e2a33;
  --nav: #2c2e31;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bgColor);
  color: var(--textPrimary);
  font-size: 1.4rem;
  /* user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;  */
}

/* .blinking-cursor {
  display: inline-block;
  width: 2px;
  height: 1.4rem;
  background: var(--primaryColor);

  animation: blink 0.8s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.blinking-cursor {
  position: absolute;
  width: 0;
  margin-top: 7px;
  height: 1.4rem;
  border-left: 2px solid var(--primaryColor); /* Customize the cursor style */
  border-radius: 10px;
}
.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
